.logo{
    img {
      width: 100px;
      position: absolute;
      right: 30px;
      bottom: 14px;
    }
}
button{
  width: 100%;
  border-radius: 3px;
}
.btn-primary {
  background-color: #3b5999;
}