<div class="login-box">
  <div class="box-p-lr" *ngIf="displayMode == 'changePassword'">
    <div class="header text-center m-btm">
      <div class="title-text"><b>Change Password</b></div>
    </div>
    <div class="main m-top-xl">
      <form [formGroup]="form" novalidate>
        <div class="row md-device">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>{{static_string.us.enter_new_pwd}}</label>
                  <input type="password" class="form-control" id="" formControlName="password">
                  <error-message [isFormSubmitted]="isFormSubmitted" [control]="form.controls.password"></error-message>
                </div>
                <label>{{static_string.us.pwd_strength}}</label>
                <app-password-strength [password]="form.get('password').value"></app-password-strength>
              </div>
            </div>
          </div>
        </div>
        <div class="row md-device">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>{{static_string.us.re_enter_new_pwd}}</label>
                  <input type="password" class="form-control" id="" formControlName="new_password">
                  <error-message [isFormSubmitted]="isFormSubmitted" [control]="form.controls.new_password"></error-message>
                </div>
              </div>
            </div>
            <div class="errorMsg" *ngIf="form.controls.new_password.errors?.MatchPassword">Password not match</div>
          </div>
        </div>
        <div class="row m-top-md email-btn-align">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-sm-8 col-md-8">
            <button type="button" class="btn btn-block login-btn col-sm-6 f-18" [disabled]="disabelSubmit" (click)="submit()">continue</button>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </form>
    </div>

    <div class="footer m-btm m-top-xxl md-device">
      <div class="p-top f-14">
        <div class="inline ">Already have an account?</div>
        <div class="isha-text inline shift-right f-16">Login</div>
      </div>
    </div>

  </div>
  <div class="box-p-lr" *ngIf="displayMode == 'emailVerfication'">
    <div class="header text-center m-btm">
      <div class="title-text"><b>Email Verification</b></div>
    </div>
    <div class="main m-top-xl">
      
    </div>

    <div class="footer m-btm m-top-xxl md-device">
      <div class="p-top f-14">
        <div class="isha-text">Login</div>
      </div>
    </div>
  </div>
</div>
